body {
  text-align: center;
}

#canvas-frame {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
}

.invisible {
  display: none;
}

.visible {
  display: auto;
}

.colorBox {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  /*don't display number*/
  font-size: 0px;
  font-family: Helvetica;
}

#btn_bar {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 96px;
}

button {
  height: 60px;
  width: 60px;
  background-color: #696969;
  background-size: 100% 100%;
}

button:hover {
  cursor: pointer;
}

#solve {
  background-image: url(../media/solve.png);
}

#draw {
  background-image: url(../media/draw.png);
}

#scramble {
  background-image: url(../media/scramble.png);
}

#finish {
  background-image: url(../media/finish.png);
}

#help {
  background-image: url(../media/help.png);
}

#color6 {
  background-image: url(../media/clear.png);
}

#info_content {
  position: absolute;
  top: 40px;
  right: 96px;
  text-align: right;
  font-size: 0.8em;
}

p {
  margin-bottom: 40px;
}
