#canvas-frame {
  cursor: pointer;
  width:100%;
  height:100%;
  background-color: #EEEEEE;
}
#solve {
  overflow: hidden;
  position: absolute;
  width: 60px;
  height: 60px;
  right:20px;
  top: 20px;
}
